.footer {
    background-color: #1a1a1a;
    height: 400px;
    width: 100%;
    border-top: 1px solid rgb(206, 206, 206);

    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.footer p {
    line-height: 400px;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 1px;
    color: white;
}

.footer a {
    color: #bbb;
}

a:visited {
    color: #bbb;
}

.footer a:hover {
    color: purple;
}

@media only screen and (max-width: 450px) {
    .footer p {
        font-size: 0.7em;
    }
}