.people-search {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}

.people-search-body {
    min-height: 400px;
}

.people-search-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    margin: 0 auto;
}

.people-search-form-input {
    display: block;
    width: auto;
    margin: 40px 10px 40px 10px;
}

.people-search-form-input label {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 0.8em;
}

.people-search-form-input input:not(:disabled) {
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid rgb(179, 179, 179);
}

.people-search-form-input input:disabled {
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid rgb(179, 179, 179);
    cursor: not-allowed;
}

.people-search-form-submit:not(:disabled) {
    display: flex;
    height: 30px;
    width: 55px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #1a1a1a;
    align-self: center;
    cursor: pointer;
}

.people-search-form-submit:disabled {
    display: flex;
    height: 30px;
    width: 55px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #1a1a1a;
    align-self: center;
    cursor: not-allowed;
}

.people-search-form-submit:not(:disabled):hover {
    background-color: purple;
}

@media only screen and (max-width: 900px) {
    .people-search-form {
        flex-direction: column;
        align-items: center;
    }
}